.container-bg {
  background-image: url("../images/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: 100dvh;
}
.container-home {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "main main"
    "section section";
}
.container-main {
  height: auto;
  grid-area: main;
  padding: 24px 24px 0 24px;
  display: flex;
  flex-wrap: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
  box-sizing: border-box;
}
.container-main > span {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.15em;
  color: var(--color-light-blue);
  box-sizing: border-box;
}
.container-main .title-main {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 92px;
  box-sizing: border-box;
}
.container-main .paragraph-main {
  margin: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  box-sizing: border-box;
}
.container-button-circle {
  height: 382px;
  grid-area: section;
  padding: 0 24px 24px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
}
.button-cicle {
  width: 144px;
  height: 144px;
  background-color: white;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-very-dark-navy);
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.button-cicle::before {
  top: 0;
  left: 0;
  content: " ";
  width: 144px;
  height: 144px;
  background-color: rgba(255, 255, 255, 0.097);
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-very-dark-navy);
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: -1;
  scale: 1;
  animation-name: circleHome;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: initial;
}
@keyframes circleHome {
  from {
    scale: 1;
  }
  to {
    scale: 1.9;
    opacity: 0;
  }
}
.container-button-circle > a {
  border-radius: 50%;
}
@media (width > 767px) {
  .container-bg {
    background-image: url("../images/home/background-home-tablet.jpg");
  }
  .container-home {
    padding: 128px 40px;
    width: 100%;
    height: 80vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
  }
  .container-main {
    padding: 0;
    gap: 24px;
  }
  .container-main > span {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4px;
  }
  .container-main .title-main {
    font-size: 144px;
    line-height: 165px;
  }
  .container-main .paragraph-main {
    font-size: 16px;
    padding: 0 88px;
  }
  .container-button-circle {
    height: auto;
    grid-area: section;
    padding: 8% 0 0 0;
    display: flex;
    justify-content: center;
    align-items: end;
    box-sizing: border-box;
  }
  .button-cicle {
    width: 272px;
    height: 272px;
    font-size: 32px;
    line-height: 37px;
  }
  .button-cicle::before {
    top: 0;
    left: 0;
    content: " ";
    width: 272px;
    height: 272px;
    background-color: rgba(255, 255, 255, 0.238);
    border-radius: 50%;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-very-dark-navy);
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: -1;
    animation-name: circleHome;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: initial;
  }
  @keyframes circleHome {
    0% {
      scale: 1;
    }
    50% {
      /* scale: 1; */
      opacity: 0.5;
    }
    50% {
      /* scale: 1; */
      opacity: 0.3;
    }
    100% {
      scale: 1.5;
      opacity: 0;
    }
  }
}
@media (width > 1385px) {
  .container-bg {
    background-image: url("../images/home/background-home-desktop.jpg");
  }
  .container-home {
    padding: 128px 165px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 63vh;
    grid-template-areas:
      "main section"
      "main section";
  }
  .container-main {
    padding: 0;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
  }
  .container-main .paragraph-main {
    font-size: 18px;
    line-height: 180%;
    padding: 0 15px 0 0;
  }
  .container-button-circle {
    height: auto;
    grid-area: section;
    padding: 0 0 35.5px 0;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    box-sizing: border-box;
  }
}
