.container-bg {
  background-image: url("/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  /* background-attachment: fixed; */
  box-sizing: border-box;
  height: 100vh;
}
.container-home {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
  width: 100vw;
  /* max-width: 100%;
  max-height: 100%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "main main"
    "section section";
}

.container-main {
  height: 318px;
  grid-area: main;
  padding: 24px 24px 0 24px;
  display: flex;
  flex-wrap: 1;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  gap: 24px;
  box-sizing: border-box;
}
.container-main > span {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.15em;
  color: var(--color-light-blue);
  box-sizing: border-box;
}
.container-main .title-main {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 92px;
  box-sizing: border-box;
}
.container-main .paragraph-main {
  margin: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  box-sizing: border-box;
}

.container-button-circle {
  height: 382px;
  grid-area: section;
  padding: 0 24px 24px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.container-button-circle > button {
  width: 144px;
  height: 144px;
  background-color: white;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
}
.container-button-circle .button-cicle > a {
  text-decoration: none;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-very-dark-navy);
  box-sizing: border-box;
}
