.container-bg {
  background-image: url("../images/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-height: 100dvh;
}
.container-home {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
  width: 100vw;
  /* max-width: 100%;
  max-height: 100%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "main main"
    "section section";
}

.container-main {
  height: auto;
  grid-area: main;
  padding: 24px 24px 0 24px;
  display: flex;
  flex-wrap: 1;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  gap: 24px;
  box-sizing: border-box;
}
.container-main > span {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.15em;
  color: var(--color-light-blue);
  box-sizing: border-box;
}
.container-main .title-main {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 92px;
  box-sizing: border-box;
}
.container-main .paragraph-main {
  margin: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  box-sizing: border-box;
}

.container-button-circle {
  height: 382px;
  grid-area: section;
  padding: 0 24px 24px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.container-button-circle > button {
  width: 144px;
  height: 144px;
  background-color: white;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
}
.container-button-circle .button-cicle > a {
  text-decoration: none;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-very-dark-navy);
  box-sizing: border-box;
}
@media (width > 767px) {
  .container-bg {
    background-image: url("../images/home/background-home-tablet.jpg");
  }
  .container-home {
    padding: 128px 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
  }
  .container-main {
    padding: 0;
    gap: 24px;
  }
  .container-main > span {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4px;
  }
  .container-main .title-main {
    font-size: 144px;
    line-height: 165px;
  }
  .container-main .paragraph-main {
    font-size: 16px;
    padding: 0 88px;
  }
  .container-button-circle {
    height: auto;
    grid-area: section;
    padding: 8% 0 0 0;
    display: flex;
    justify-content: center;
    align-items: end;
    box-sizing: border-box;
  }
  .container-button-circle > button {
    width: 272px;
    height: 272px;
  }
  .container-button-circle .button-cicle > a {
    font-size: 32px;
    line-height: 37px;
  }
}

@media (width > 1385px) {
  .container-bg {
    background-image: url("../images/home/background-home-desktop.jpg");
  }
  .container-home {
    padding: 128px 165px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 63vh;
    grid-template-areas:
      "main section"
      "main section";
  }
  .container-main {
    padding: 0;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
  }
  .container-main .paragraph-main {
    font-size: 18px;
    line-height: 180%;
    padding: 0 15px 0 0;
  }
  .container-button-circle {
    height: auto;
    grid-area: section;
    padding: 0 0 35.5px 0;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    box-sizing: border-box;
  }
}