.container-bg-destination {
  background-image: url("/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.container-destination {
  margin: 0;
  overflow-y: hidden;
  width: 100vw;
  /* height: 100vh; */
  padding: 24px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 242px 446px;
  /* row-gap: 5%; */
  row-gap: 32px;
  grid-template-areas:
    "titleImg titleImg"
    "infoMoon infoMoon";
}

.container-title-img {
  padding: 0;
  margin: 0;
  grid-area: titleImg;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  /* gap: 20px; */
  justify-content: space-between;
  align-items: center;
}

.container-title {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  text-align: center;
  font-size: 15px;
}
.container-title > span:nth-child(1) {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.15em;
  color: #ffffff;
  opacity: 0.25;
}
.container-title > span:nth-child(2) {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.15em;
  color: #ffffff;
}

.container-img-moon {
  height: 203px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-moon {
  width: 150px;
  height: 150px;
}

.container-info-moon {
  grid-area: infoMoon;
}

.container-li {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  list-style: none;
}
.container-li > li {
  border-bottom: 1px solid white;
  width: 34px;
  height: 32px;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.container-li > li > a {
  text-decoration: none;
}

.text-moon {
  padding-bottom: 24px;
}
.text-moon > h2 {
  padding-top: 24px;
  margin: 0;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
}
.text-moon > p {
  padding-top: 16px;
  margin: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  text-align: center;
}

.line-moon {
  width: 100%;
  margin: 0;
  padding: 0;
  /* padding: 24px; */
  border-bottom: 1px solid #979797;
}

.info-moon {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.info-dis-moon {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.info-dis-moon > span:nth-child(1) {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #d0d6f9;
}
.info-dis-moon > span:nth-child(2) {
  flex-direction: column;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}
.info-travel-moon {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.info-travel-moon > span:nth-child(1) {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #d0d6f9;
}
.info-travel-moon > span:nth-child(2) {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

@media (width > 768px) {
  .container-bg-destination {
    background-image: url("/background-destination-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container-destination {
    margin: 0;

    width: 100vw;
    height: 100vh;
    padding: 24px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 432px 384px;
    /* row-gap: 5%; */
    row-gap: 32px;
    grid-template-areas:
      "titleImg titleImg"
      "infoMoon infoMoon";
  }
  .container-title-img {
    padding: 0;
    margin: 0;
    grid-area: titleImg;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    /* gap: 20px; */
    justify-content: space-between;
    /* align-items: center; */
    text-align: start;
  }
  .container-title {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    text-align: center;
    font-size: 15px;
  }
  .container-title > span:nth-child(1) {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.15em;
    color: #ffffff;
    opacity: 0.25;
    /* align-content: flex-start; */
  }
  .container-title > span:nth-child(2) {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.15em;
    color: #ffffff;
  }
  .container-img-moon {
    height: 384px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-moon {
    width: 300px;
    height: 300px;
  }

  .container-info-moon {
    grid-area: infoMoon;
    padding: 11.5px 88px;
  }
  .text-moon > h2 {
    padding-top: 24px;
    margin: 0;
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
  }

  .info-moon {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
  }
}

@media (width > 1385px){
  .container-bg-destination {
    background-image: url("/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container-destination {
    margin: 0;
    min-width: 1200px;
    width: 100vw;
    height: 100vh;
    padding: 48px 165px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 32px;
    /* row-gap: 5%; */
    /* row-gap: 32px; */
    grid-template-areas:
      "titleImg infoMoon"
      "titleImg infoMoon";
  }

  .container-title-img {
    height: 792px;
    padding: 0;
    margin: 0;
    grid-area: titleImg;
    display: flex;
    flex-direction: column;
    /* row-gap: 24px; */
    /* gap: 20px; */
    justify-content: flex-start;
    align-items: center;
  }
  .container-title {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    font-size: 15px;
  }
  .container-title > span:nth-child(1) {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.15em;
    color: #ffffff;
    opacity: 0.25;
  }
  .container-title > span:nth-child(2) {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.15em;
    color: #ffffff;
  }
  .container-img-moon {
    height: 734px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-moon {
    width: 480px;
    height: 480px;
  }
  .container-info-moon {
    height: 468px;
    grid-area: infoMoon;
    padding: 191px 47px 133px 47px;
  }

  .container-li {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    list-style: none;
  }
  .container-li > li {
    border-bottom: 1px solid white;
    width: 34px;
    height: 32px;
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .container-li > li > a {
    text-decoration: none;
  }
  
  .text-moon {
    padding-bottom: 24px;
  }
  .text-moon > h2 {
    padding-top: 24px;
    margin: 0;
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 110px;
    text-align: left;
  }
  .text-moon > p {
    padding-top: 16px;
    margin: 0;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: left;
  }
  
  .info-moon {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
  }
  .info-dis-moon {
    width: 210.5px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  .info-dis-moon > span:nth-child(1) {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: start;
    letter-spacing: 2px;
    text-transform: uppercase;
  
    color: #d0d6f9;
  }
  .info-dis-moon > span:nth-child(2) {
    flex-direction: column;
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: start;
    text-transform: uppercase;
  }
  .info-travel-moon {
    width: 210.5px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  .info-travel-moon > span:nth-child(1) {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: start;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #d0d6f9;
  }
  .info-travel-moon > span:nth-child(2) {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: start;
    text-transform: uppercase;
  }

}
