.container-bg-destination {
  background-image: url("../images/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  min-height: 100vh;
  height: 100dvh;
}
.container-destination {
  margin: 0;
  padding: 24px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content min-content;
  /* row-gap: 32px; */
  grid-template-areas:
    "titleImg titleImg"
    "infoMoon infoMoon";
}
.container-title-img {
  padding: 0;
  margin: 0;
  grid-area: titleImg;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.container-title {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  text-align: center;
  font-size: 15px;
}
.container-title > span:nth-child(1) {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.15em;
  color: #ffffff;
  opacity: 0.25;
}
.container-title > span:nth-child(2) {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.15em;
  color: #ffffff;
}
.container-img-moon {
  height: 203px;
  min-height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-moon {
  width: 150px;
  height: 150px;
}
.container-info-moon {
  grid-area: infoMoon;
}
.container-li {
  height: 32px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  list-style: none;
}
.container-li > li {
  height: 100%;
}
.inactive {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.15em;
  padding-bottom: 15px;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  color: #D0D6F9;
  transition: border-bottom 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}
.inactive:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  transition: border-bottom 0.3s ease-in-out;
}
.active1 {
  border-bottom: 3px solid white;
}
.active1:hover {
  border-bottom: 3px solid white;
}
.active2 {
  border-bottom: 3px solid white;
}
.active2:hover {
  border-bottom: 3px solid white;
}
.active3 {
  border-bottom: 3px solid white;
}
.active3:hover {
  border-bottom: 3px solid white;
}
.active4 {
  border-bottom: 3px solid white;
}
.active4:hover {
  border-bottom: 3px solid white;
}
.text-moon {
  padding-bottom: 1rem;
}
.text-moon > h2 {
  padding-top: 1rem;
  margin: 0;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
}
.text-moon > p {
  padding-top: 1rem;
  margin: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 180%;
  text-align: center;
  color: #D0D6F9;

}
.line-moon {
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #979797;
}
.info-moon {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.info-dis-moon {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.info-dis-moon > span:nth-child(1) {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #d0d6f9;
}
.info-dis-moon > span:nth-child(2) {
  flex-direction: column;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}
.info-travel-moon {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.info-travel-moon > span:nth-child(1) {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #d0d6f9;
}
.info-travel-moon > span:nth-child(2) {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

@media (width > 768px) {
  .container-bg-destination {
    background-image: url("../images/destination/background-destination-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  .container-destination {
    margin: 0;
    width: 100%;
    height: 80vh;
    padding: 24px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 432px 384px;
    row-gap: 32px;
    grid-template-areas:
      "titleImg titleImg"
      "infoMoon infoMoon";
  }
  .container-title-img {
    padding: 0;
    margin: 0;
    grid-area: titleImg;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    justify-content: space-between;
    text-align: start;
    box-sizing: border-box;
  }
  .container-title {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    text-align: center;
    font-size: 15px;
    box-sizing: border-box;
  }
  .container-title > span:nth-child(1) {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.15em;
    color: #ffffff;
    opacity: 0.25;
    box-sizing: border-box;
  }
  .container-title > span:nth-child(2) {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.15em;
    color: #ffffff;
    box-sizing: border-box;
  }
  .container-img-moon {
    height: 384px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .img-moon {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
  }
  .container-info-moon {
    grid-area: infoMoon;
    padding: 11.5px 88px;
    box-sizing: border-box;
  }
  .text-moon > h2 {
    padding-top: 24px;
    margin: 0;
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 92px;
    text-align: center;
    box-sizing: border-box;
  }
  .info-moon {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    box-sizing: border-box;
  }
  .inactive:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    transition-duration: 0.1s;
  }
}
@media (width > 1385px) {
  .container-bg-destination {
    background-image: url("../images/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100dvh;
  }
  .container-destination {
    margin: 0;
    height: 80dvh;
    padding: 48px 165px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    row-gap: 0;
    grid-template-areas:
      "titleImg infoMoon"
      "titleImg infoMoon";
  }
  .container-title-img {
    padding: 0;
    margin: 0;
    grid-area: titleImg;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .container-title {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    font-size: 15px;
  }
  .container-title > span:nth-child(1) {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.15em;
    color: #ffffff;
    opacity: 0.25;
  }
  .container-title > span:nth-child(2) {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.15em;
    color: #ffffff;
  }
  .container-img-moon {
    height: 734px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-moon {
    width: 480px;
    height: 480px;
  }
  .container-info-moon {
    height: 468px;
    grid-area: infoMoon;
    padding: 191px 47px 133px 47px;
  }
  .container-li {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    list-style: none;
  }
  .inactive {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    padding-bottom: 15px;
  }
  .text-moon {
    padding-bottom: 24px;
  }
  .text-moon > h2 {
    padding-top: 24px;
    margin: 0;
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 110px;
    text-align: left;
  }
  .text-moon > p {
    padding-top: 16px;
    margin: 0;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 180%;
    text-align: left;
    color: #D0D6F9;
  }
  .info-moon {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
  }
  .info-dis-moon {
    width: 210.5px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  .info-dis-moon > span:nth-child(1) {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: start;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #d0d6f9;
  }
  .info-dis-moon > span:nth-child(2) {
    flex-direction: column;
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: start;
    text-transform: uppercase;
  }
  .info-travel-moon {
    width: 210.5px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  .info-travel-moon > span:nth-child(1) {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: start;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #d0d6f9;
  }
  .info-travel-moon > span:nth-child(2) {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: start;
    text-transform: uppercase;
  }
}
