.container-root-crew {
  background-image: linear-gradient(
      rgba(11, 13, 23, 0.2),
      rgba(11, 13, 23, 0.5)
    ),
    url("/images/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100dvh;
  position: relative;
}
.container-crew {
  margin: 0;
  width: auto;
  padding: 24px 24px 0 24px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto max-content;
  row-gap: 35px;
  grid-template-areas:
    "titleInfoCrew titleInfoCrew"
    "imgCrew imgCrew";
}
.container-info-crew {
  grid-area: titleInfoCrew;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
}
.container-name-and-info {
  margin: 0;
  padding: 0;
  max-height: 25vh;
  padding-top: 45px;
  padding-bottom: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container-cargo-name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cargo-crew {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.name-crew {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.info-crew {
  height: 140px;
  margin: 0;
  padding: 0;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 180%;
  /* or 27px */
  color: #d0d6f9;
}
.circle {
  background-color: white;
  border: 3px white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  opacity: 0.17;
  transition-duration: 0.3s;
}
.circle:hover {
  /* background-color: white; */
  opacity: 0.5;
  transition-duration: 0.3s;
}
.circle1 {
  border: 3px white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background-color: white;
  opacity: 1;
}
.circle1:hover {
  opacity: 1;
}
.circle2 {
  background-color: white;
  opacity: 1;
}
.circle2:hover {
  opacity: 1;
}
.circle3 {
  background-color: white;
  opacity: 1;
}
.circle3:hover {
  opacity: 1;
}
.circle4 {
  background-color: white;
  opacity: 1;
}
.circle4:hover {
  opacity: 1;
}
.container-circles-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 16px;
  justify-self: flex-end;
}
.container-img-crew {
  grid-area: imgCrew;
  display: flex;
  justify-content: center;
  position: relative;
}
.container-img-crew::after {
  content: "";
  bottom: 0px;
  border-color: linear-gradient();
  width: 270px;
  height: 100px;
  position: absolute;
  background: linear-gradient(hsl(230, 35%, 7%, 0), hsl(230, 33%, 7%));
}
@media (height > 1075px) {
  .container-img-crew::after {
    display: none;
  }
}
.img-dauglas {
  width: 270px;
  height: 340px;
  object-fit: contain;
  box-sizing: border-box;
}
@media (width > 767px) {
  .container-root-crew {
    background-image: url("/images/crew/background-crew-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    height: auto;
  }
  .container-crew {
    width: 100%;
    margin: 0;
    padding: 40px 40px 0 40px;
    box-sizing: border-box;
  }
  .container-info-crew {
    min-height: 335px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .container-title {
    padding-bottom: 15px;
  }
  .container-cargo-name {
    gap: 0;
  }
  .container-name-and-info {
    margin: 0;
    padding: 0;
    height: 305px;
    width: 512px;
    padding-top: 45px;
    padding-bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .cargo-crew {
    padding: 0 0 16px 0;
    font-size: 24px;
    line-height: 28px;
  }
  .name-crew {
    font-size: 40px;
    line-height: 46px;
  }
  .info-crew {
    height: 162px;
    padding: 0;
    margin: 0;
    height: 117px;
    /* max-height: ; */
    font-size: 16px;
    line-height: 180%;
  }
  .container-img-crew {
    margin: 0;
    padding: 0;
    height: 463px;
    box-sizing: border-box;
    position: relative;
  }
  .container-img-crew::after {
    content: "";
    bottom: 0px;
    /* border-bottom: 3px solid hsl(230, 33%, 7%);
    border-color: linear-gradient(); */
    width: 100%;
    height: 100px;
    position: absolute;
    background: linear-gradient(hsl(230, 35%, 7%, 0), hsl(230, 33%, 7%));
    /* backdrop-filter: blur(0.1px) */
  }
  @media (height > 1345px) {
    .container-img-crew::after {
      display: none;
    }
  }
  .img-dauglas {
    width: 446.74px;
    height: auto;
    object-fit: contain;
  }
  .img-blur-out {
    display: none;
  }
}
@media (width > 1385px) {
  .container-root-crew {
    background-image: url("/images/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .container-crew {
    margin: 0;
    width: 100%;
    height: auto;
    /* height: 80dvh; */
    padding: 48px 165px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 362px 360px;
    row-gap: 0;
    column-gap: 32px;
    grid-template-areas:
      "titleInfoCrew imgCrew"
      "titleInfoCrew imgCrew";
  }
  .container-info-crew {
    display: flex;
    justify-content: space-between;
  }
  .container-name-and-info {
    height: 734px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .cargo-crew {
    font-size: 32px;
    line-height: 37px;
    text-align: start;
  }
  .name-crew {
    font-size: 56px;
    line-height: 64px;
  }
  .info-crew {
    font-size: 18px;
  }
  .container-circles-nav {
    list-style: none;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 40px;
  }
  .circle {
    background-color: white;
    opacity: 0.17;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }
  .circle:hover {
    opacity: 0.5;
    transition-duration: 0.3s;
  }
  .circle1 {
    border: 3px white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: white;
    opacity: 1;
  }
  .circle2 {
    background-color: white;
    opacity: 1;
  }
  .circle3 {
    background-color: white;
    opacity: 1;
  }
  .circle4 {
    background-color: white;
    opacity: 1;
  }
  .container-img-crew {
    display: flex;
    height: 734px;
    width: auto;
    position: relative;
  }
  .container-img-crew::after {
    content: "";
    bottom: 0px;
    /* border: 3px solid white; */
    width: 100%;
    height: 150px;
    position: absolute;
    background: linear-gradient(hsl(230, 35%, 7%, 0), hsl(230, 33%, 7%));
    backdrop-filter: blur(0.3px);
  }
  @media (height > 1130px) {
    .container-img-crew::after {
      display: none;
    }
  }
  .img-dauglas {
    display: block;
    width: 539px;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    padding-top: 58px;
  }
}
