.container-title {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  text-align: center;
  font-size: 15px;
}
.container-title > span:nth-child(1) {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.15em;
  color: #ffffff;
  opacity: 0.25;
}
.container-title > span:nth-child(2) {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.15em;
  color: #ffffff;
}
@media (width > 767px) {
  .container-title {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    text-align: center;
    font-size: 15px;
  }
  .container-title > span:nth-child(1) {
    font-size: 20px;
    line-height: 24px;
  }
  .container-title > span:nth-child(2) {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (width > 1385px) {
  .container-title {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    text-align: center;
    font-size: 15px;
  }
  .container-title > span:nth-child(1) {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
  }
  .container-title > span:nth-child(2) {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4px;
  }
}
