
.container-nav {
  visibility: visible;
  background-color: rgba(71, 38, 118, 0.098);
  backdrop-filter: blur(30px);
  position: absolute;
  /* border: 1px solid white; */
  width: 68%;
  /* height: 100vh; */
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  translate: 47%;
  box-sizing: border-box;
  overflow: hidden;
  /* overflow-y: hidden;
  overflow-x: hidden; */

}
.container-nav2 {
  visibility: hidden;
  background-color: rgba(71, 38, 118, 0.098);
  backdrop-filter: blur(30px);
  position: absolute;
  width: 68%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  translate: 47%;
  overflow: hidden;
}

.efect-nav{
  animation-name: moveIn;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-direction: reverse;
  overflow: hidden;
}
@keyframes moveIn {
  from {
    translate: 47%;
  }
  to {
    translate: 200%;
  }
}

.not-efect-nav{
  animation-name: moveOut;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  /* animation-direction: reverse; */
}
@keyframes moveOut {
  from {
    translate: 47%;
  }
  to {
    translate: 200%;
  }
}

.container-icon-nav {
  align-self: self-end;
  padding: 32px;
  box-sizing: border-box;
}

.img-icon-close-nav {
  width: 20px;
  height: 20px;
}

.container-ul-nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 32px;
  padding-top: 48px;
  padding-left: 32px;
  box-sizing: border-box;
}
.container-ul-nav > li {
  list-style: none;
}
